.md-form.md-outline input[type="text"], .md-form.md-outline input[type="password"], .md-form.md-outline input[type="email"], .md-form.md-outline input[type="url"], .md-form.md-outline input[type="time"], .md-form.md-outline input[type="date"], .md-form.md-outline input[type="datetime-local"], .md-form.md-outline input[type="tel"], .md-form.md-outline input[type="number"], .md-form.md-outline input[type="search-md"], .md-form.md-outline input[type="search"], .md-form.md-outline textarea.md-textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #7d7f84;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

body{
    overflow-x: hidden;
}

.text-dec{
    text-decoration: line-through;
}